body {
    background-color: rgb(195, 195, 195);

}
.wrapper {
    display: flex;
    justify-content: center;
    text-align: center;

    width: 70vw;
    height: 60vh;
    max-width: 1440px;
    gap: 2px;
}

